{{define "main"}}
  {{partial "title.html" .}}

  {{$has_content := (strings.ContainsNonSpace .Content)}}
  {{if $has_content}}
    <div class="list-content">
      {{.Content}}
    </div>
  {{end}}

  <div class="booklist">
    {{if $has_content}}
      <h2>Pages</h2>
      <hr>
    {{end}}

    {{ $pageArr := .Pages.ByWeight}}
    {{ $reversed := .Params.reversedOrder | default false}}

    {{if $reversed}}
      {{ $pageArr = $pageArr.Reverse}}
    {{end}}

    {{range $pageArr}}
      <a class="link-card" href="{{.RelPermalink}}">
        <h3 class="card-title">{{.Title}}</h3>

        {{if (strings.ContainsNonSpace .Params.subtitle)}}
          <p class="card-subtitle">{{.Params.subtitle}}</p>
        {{end}}

        <p>{{.Plain | truncate 200}}</p>
      </a>
    {{end}}
  </div>
{{end}}
