{{define "main"}}
  {{partial "title.html" .}}

  {{$toc_setting := .Params.toc | default true}}
  {{if $toc_setting}}
    <h2 toc-ignore>Table Of Contents</h2>
    <div id="toc-out"></div>
  {{end}}

  <article id="content">
    {{.Content}}
    {{block "notes" .}}{{end}}
  </article>

  {{$images := resources.Get "js/images.js"}}
  <script src="{{$images.RelPermalink}}"></script>

{{end}}

{{define "notes"}}
  {{$fns := .Params.footnotes}}
  {{if (not (eq $fns nil))}}
    <hr latex-ignore class="notes-hr">
    <h2 latex-ignore class="notesheader">Notes</h2>
    <ol latex-ignore id="footnotes-list">

    {{$idx := 0}}
    {{$p := .}}
    {{range $fns}}
      <li note-idx="{{$idx}}">{{. | $p.RenderString}}</li>
      {{$idx = (add 1 $idx)}}
    {{end}}

    </ol>
  {{end}}
{{end}}