@import url('https://fonts.cdnfonts.com/css/trajan-pro');

.trajanpro {
  font-family: 'Trajan Pro', sans-serif !important;
}
.times-new-roman {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.15rem;
}

:root {
  --dark: #121212;
  --lighter: #1f1f1f;
}

.bg-dark {
  background-color: var(--dark);
  color: white;
}
.bg-lighter {
  background-color: var(--lighter);
  color: white;
}

.content {
  max-width: calc(210mm - 6cm);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1cm;
  padding-bottom: 5cm;
  padding-left: 3cm;
  padding-right: 3cm;
  text-justify: newspaper;
  text-align: justify;

  min-height: 100vh;

  &[wide="true"] {
    max-width: 75vw;
  }


  h2, h3, h4, h5, h6 {
    margin-top: 3rem;
  }

  dt {
    font-weight: bold;
    font-style: italic;

    &:not(:first-child) {
      margin-top: 5mm;
    }
  }

  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
  }
  th {
    padding: 5px;
    border-bottom: 1px solid white;
  }
  td {
    padding: 5px;
    border: 0;
  }
  tr:nth-of-type(even) {
    background-color: var(--lighter);
  }
}

.link-card {
  padding: 1rem;
  display: block;
  /* border-radius: 1cm; */
  background-color: var(--lighter);
  color: white;
  text-decoration: none;

  margin-top: 1rem;
  margin-bottom: 1rem;

  &:hover {
    background-color: hsl(from var(--lighter) h s calc(l + 10));
    color: lightgray;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }
}

.booklist {
  margin-top: 3rem;
}

.ppath {
  margin-bottom: 2rem;
}
.ppath-element {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.ppath-current {
  opacity: 0.6;
}
.ppath-comma {
  opacity: 0.5;
}

.metalist {
  background-color: var(--lighter);
  padding: 1rem;

  margin-top: 2rem;
  margin-bottom: 3rem;

  dt {
    font-weight: bold;
    font-style: italic;
  }
}
.pagetitle {
  text-align: center;
}

.toc-element {
  text-decoration: none;
  display: block;

  margin-top: 1mm;
  margin-bottom: 1mm;

  color: hsl(0, 0%, 85%);

  &:hover {
    /* text-decoration: underline; */
    background-color: var(--lighter);
  }
}
.notes-hr {
  margin-top: 2cm;
  margin-bottom: 0;
}
h2.notesheader {
  margin-top: 3mm;
}

.headerimg {
  width: 33.33%;
  image-rendering: crisp-edges;
  display: block;
  margin-left: auto;
  margin-right: auto;
}