@import url('https://fonts.cdnfonts.com/css/trajan-pro');

.trajanpro {
  font-family: 'Trajan Pro', sans-serif !important;
}
.times-new-roman {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
}

:root {
  --dark: #121212;
  --lighter: #1f1f1f;
  font-family: Cambria,Georgia,serif;
}

.bg-dark {
  background-color: var(--dark);
  color: white;
}
.bg-lighter {
  background-color: var(--lighter);
  color: white;
}

sup a {
  color: darkcyan;
}

@media(min-width: 1024px) {
  .content-sizing {
    max-width: calc(220mm - 6cm);
    margin-left: auto;
    margin-right: auto;
    padding-left: 3cm !important;
    padding-right: 3cm !important;
  }
}
@media(max-width: 1024px) { 
  .highlight {
    overflow-x: scroll;
  }

  .overflow-x-scroll {
    overflow-x: scroll;
  }

  #bg-toggle-btn {
    display: none;
  }
}

#content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
  }
}

.subtitle {
  text-align: center;
  color: gray;
}

.content-sizing {
  padding-top: 1cm;
  padding-right: 1cm;
  padding-left: 1cm;
}

.footer {
  padding-bottom: 2cm;
}
.footer-flex {
  display: flex;
  gap: 2mm;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footermsg {
  text-align: center;
  margin-top: 5mm;
}

.body {
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.list-content {
  margin-top: 1cm;
}

.card-subtitle {
  color: gray;
  margin-top: 0;
}
.card-title {
  margin-bottom: 2mm;
}

.section-num {
  display: inline-block;
  color: gray;
  min-width: 20mm;
}

.list-img {
  width: 25%;
  display: block;
  margin: 4mm auto;
}

.title-container {
  margin-top: 2.5cm;
  margin-bottom: 5cm;
}

.content {
  padding-bottom: 5cm;

  text-justify: newspaper;
  text-align: justify;

  min-height: 100vh;
  font-size: 14pt;

  &[wide="true"] {
    max-width: 75vw;
  }

  video {
    width: 100%;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 3rem;
  }

  dt {
    font-weight: bold;
    font-style: italic;

    &:not(:first-child) {
      margin-top: 5mm;
    }

    code {
      font-size: larger;
      color: white;
    }
  }

  figcaption {
    margin-top: 2mm;
    margin-block-start: 2mm;
  }

  .figure-num {
    color: gray;
  }
  .figref {
    color: gray;
    text-decoration: underline;
  }

  figure {
    margin-top: 8mm;
  }

  p:first-child {
    margin-top: 0;
  }
  p[big-letter]::first-letter {
    font-size: 200%;
  }
  p:not(h1+p, h2+p, h3+p, h4+p, h5+p, dd p, [no-indent])::first-letter {
    margin-inline-start: 5mm;
  }

  :is(h1,h2,h3,h4,h5,h6)+p {
    margin-block-start: 2em;
  }

  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
  }
  th {
    padding: 5px;
    border-bottom: 1px solid white;
  }
  td {
    padding: 5px;
    border: 0;
  }
  tr:nth-of-type(even) {
    background-color: var(--lighter);
  }
}

.link-card {
  padding: 1rem;
  display: block;
  /* border-radius: 1cm; */
  background-color: var(--lighter);
  color: white;
  text-decoration: none;

  margin-top: 1rem;
  margin-bottom: 1rem;

  &:hover {
    background-color: hsl(from var(--lighter) h s calc(l + 10));
    color: lightgray;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }
}

.booklist {
  margin-top: 3rem;
}

.ppath {
  margin-bottom: 2rem;
  text-align: left;
}
.ppath-element {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.ppath-current {
  opacity: 0.6;
}
.ppath-comma {
  opacity: 0.5;
}
.ppath-line:not(:first-of-type) {
  margin-left: 5mm;
}

.metalist {
  background-color: var(--lighter);
  padding: 1rem;

  margin-top: 2rem;
  margin-bottom: 2mm;

  dt {
    font-weight: bold;
    font-style: italic;
  }
}
.pagetitle {
  text-align: center;
  margin-bottom: 2mm;
}

.button {
  color: white;
  background-color: var(--lighter);
  border: 1px solid white;
  padding: 2mm;
  padding-left: 4mm;
  padding-right: 4mm;

  &:hover {
    /* text-decoration: underline; */
    background-color: var(--dark);
    cursor: pointer;
  }
}

.toc-element {
  text-decoration: none;
  display: block;

  margin-top: 1mm;
  margin-bottom: 1mm;

  color: hsl(0, 0%, 85%);

  &:hover {
    /* text-decoration: underline; */
    background-color: var(--lighter);
  }

  .section-num {
    width: auto;
    min-width: unset;
    margin-inline-end: 2mm;
  }
}
.notes-hr {
  margin-top: 2cm;
  margin-bottom: 0;
}
h2.notesheader {
  margin-top: 3mm;
}

.headerimg {
  width: 100%;
  image-rendering: crisp-edges;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &.large {
    width: 75%;
  }

  &.medium {
    width: 50%;
  }

  &.small {
    width: 33.33%;
  }
}

.titleimg {
  width: 100%;
  image-rendering: crisp-edges;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centeredimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  background-color: var(--dark);
  outline: 1px solid white;
  color: white;
  border: unset;
  padding: 5px;
  width: 100%;
}

.copy-header-ref {
  visibility: hidden;
  margin-inline-start: 2mm;
  text-decoration: none;
  font-size: 0.75em;
}

:hover > .copy-header-ref {
  visibility: visible;
}

.tool {
  background-color: var(--lighter);
  padding: 5mm;
  padding-top: 5mm;

  margin-top: 5mm;

  h2 {
    margin-top: 0;
  }

  .inputsgroup {
    display: flex;
    gap: 2mm;

    input {
      flex-grow: 1;
    }
    select {
      color: white;
      background-color: var(--dark);
    }
  }

  #sqlnamegen-roundtime {
    background-color: unset;
    outline: initial;
    color: initial;
    border: initial;
    padding: initial;
    width: initial;
  }

  .sng-checkbox {
    margin-top: 2mm;
    margin-bottom: 2mm;
  }

  .sng-output {
    display: flex;
    gap: 3mm;

    code {
      flex-grow: 1;
      background-color: var(--dark);
      padding: 2mm;
    }

    span {
      margin-top: 2mm;
      margin-bottom: 2mm;
    }
  }
}
.footer-metadata {
  margin-top: 4mm;
}

a {
  color: #66b2ff; /* soft blue */
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover,
a:focus {
  color: #99ccff; /* lighter on hover */
  border-bottom: 1px solid #99ccff;
}

a:active {
  color: #cce6ff; /* even lighter on active */
}

li:not(:first-child) {
  margin-top: 3mm;
}

h5, h6 {
  font-size: 100%;
}

.linkslist {
  padding: 0;

  li {
    list-style: none;
    margin-inline-start: 0;
  }

  .social-link {
    display: block;
    padding: 1rem;
    background-color: var(--lighter);
    text-align: center;

    &:hover {
      background-color: #292828;
    }
    &:active {
      background-color: #3d3d3d;
    }
  }
}

.text-centered {
  text-align: center;
}