<!doctype html><html lang=en><head><link rel=stylesheet href=/css/style.css><link rel=stylesheet href=/css/highlighting.css><link rel=apple-touch-icon sizes=180x180 href=/favicon/apple-touch-icon.png><link rel=icon type=image/png sizes=32x32 href=/favicon/favicon-32x32.png><link rel=icon type=image/png sizes=16x16 href=/favicon/favicon-16x16.png><link rel=manifest href=/favicon/site.webmanifest><title>NLayout Engine</title><meta name=viewport content="width=device-width,initial-scale=1"></head><body class="bg-lighter body"><div class="content content-sizing bg-dark" id=content-el><div class=ppath><a class=ppath-element href=/>Julie's Document Website</a>
<span class=ppath-comma>/</span>
<a class=ppath-element href=/delphi/>Delphi Menu Engine</a>
<span class=ppath-comma>/</span>
<span class=ppath-current>NLayout Engine</span></div><dl class=metalist><dt>Publish Date</dt><dd id=publish_date>2025-01-13 16:08:00 +0200 UTC</dd><dt>Author</dt><dd id=author>Julie</dd></dl><div class=title-container><img class="headerimg large" src=/delphi/temple.jpg><h1 toc-ignore class=pagetitle>NLayout Engine</h1><div class=subtitle>The biggest nightmare in this project.</div></div><h2 toc-ignore>Table Of Contents</h2><div id=toc-out></div><div id=content><h2>Introduction</h2><p>This document describes the process of writing the <i>NLayout</i> engine that
executes layout for Delphi and how it works.</p><p>This part, the layout engine, has been the most difficult part of the Delphi
project to date, executing layout with so many variables that interact in so
many different ways depending on layout context and such.</p><p>The layout engine is part of the <code>delphirender</code> module which
handles DOM rendering and Minecraft entity management.</p><h3>The Name</h3><p><i>NLayout</i> just means <i>"New Layout"</i>, after the Java class I started
writing it in, which was the 2nd version of the layout engine. The first being
very primitive, just taking in a <code>layout-direction</code> (Either X or Y)
and tiling elements in that direction.</p><h2>Layout passes</h2><p>Layout is divided into passes, and this section describes the initial concept
for the engine and the passes it executed.</p><h3>Measurement</h3><p>Iterate over each element, and measure it, calculate style properties,
padding, margins, etc.</p><p>This pass uses a stack of vector2s called <code>parentSizes</code>, as
elements are measured and we move onto their child elements, we push the
element's content size onto the stack. And pop after we finish</p><p>If an element's size is set, then we use that as the element's size,
otherwise, we calculate the size based off of it's child elements and layout
algorithm.</p><p>Firstly, if an element's size is based off of it's child elements, we assume
the element's initial size to be the screen's size and then calculate its
child elements. We then adjust the element's size to be the measured result.
Then, the whole process is executed over and over until the child elements
stop changing their size, aka, until the layout stabilizes.</p><h3>Layout</h3><p>Layout is performed by Layout algorithms, each executing it differently. At
time of writing only Flow is supported.</p><h4>Flow layout</h4><p>Take the child elements of the element we're laying out and break them into
lines. To do that, we iterate over each one, skipping ones with
<code>display: hide;</code>. If an element is not <code>display: inline</code>
or its too big for the current line, a line break is triggered. If the
element is <code>display: block</code> another line break is triggered after
the element.</p><p>Then all the elements are laid out. Elements on the same line are stacked
horizontally, while lines are stacked vertically.</p><p>After layout has finished, iterate over all child elements with
<code>display: block</code>. And check if they have any horizontal auto
margins. If they do, properly move the element according to those margins: Do
nothing if only right margin is set to auto. Move element to the ride side of
the parent's content if only left margin is set, and center element if both
are set.</p><h2>Sources / Docs / Tutorials</h2><ul><li><a href=https://www.quirksmode.org/css/flexbox-algorithm.html>www.quirksmode.org - Flexbox Algorithm</a></li><li><a href=https://www.w3.org/TR/css-flexbox-1/>W3.org - CSS Flexbox Spec</a></li><li><a href=https://tchayen.com/how-to-write-a-flexbox-layout-engine>tchayen.com - How to Write a Flexbox Layout Engine</a></li><li><a href=https://css-tricks.com/snippets/css/a-guide-to-flexbox/>css-tricks.com - A Guide To Flexbox/</a></li></ul></div><script src=/js/images.js></script></div><div class="bg-dark content-sizing footer" style=margin-top:2cm><div class=footer-flex><button class=button id=latex-convert-btn>Copy content as LaTeX</button>
<button class=button id=bg-toggle-btn>Toggle background</button></div><div class=footermsg>I am a footer :)</div><div class=footermsg id=bg-info>Background info:</div></div><script src=/js/main.js></script>
<script src=/js/to-latex.js></script>
<script src=/js/background.js></script></body></html>