{{if not .Site.Params.disableGTag }}
  {{partial "gtag.html" . }}
{{end}}

{{$custom_css := resources.Get "css/style.css"}}
<link rel="stylesheet" href="{{$custom_css.RelPermalink}}">

{{$custom_css = resources.Get "css/highlighting.css"}}
<link rel="stylesheet" href="{{$custom_css.RelPermalink}}">

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">

<title>{{.Params.Title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="chapter-numbering" content="{{.Params.chapterNumbering | default "arabic"}}">