{{$current_page := .}}

<div class="ppath">
  {{$anc := (collections.Reverse .Ancestors)}}
  
  {{if (gt ($anc | len) 0)}}
    {{range $idx, $el := $anc}}
      <div class="ppath-line">
        {{if (gt $idx 0)}}
          <span class="ppath-comma">&gt;</span>
        {{end}}
        <a class="ppath-element" href="{{.RelPermalink}}">{{$el.Title}}</a>
      </div>
    {{end}}

    <div class="ppath-line">
      <span class="ppath-comma">&gt;</span>
      <span class="ppath-current">{{.Title}}</span>
    </div>
  {{end}}
</div>